[phases.setup]
nixPkgs = [
    "php82",
    "php82Packages.composer",
    "nodejs_20"
]

[phases.install]
cmds = [
    "rm -rf bootstrap/cache/*.php",
    "composer install --no-dev --optimize-autoloader --no-scripts",
    "php artisan package:discover --ansi",
    "npm ci",
    "npm run build"
]

[start]
cmd = "rm -rf bootstrap/cache/*.php && php artisan package:discover --ansi && php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=$PORT"

